body{
    background: linear-gradient(#33ccff 20%, #33ccff 0%, #ff99cc 100%);
  }
  
  h1{
    text-align: center;
    font-size: 50px;
  }
  
  .container{
      display: grid;
       width: 50%;
      margin-top: 60px;
      margin-left: 420px;
      
    }
  
    .box{
      background: #e5ccef;
      padding: 1em; 
      list-style-type: none;
      
    }
  
    h2{
      padding: 10px;
      text-align: center;
      background: #ff99cc;
      color: black;
      font-size: 20px;
    }
    .button {
      background-color: black;
       border: none;
      color: white;
      padding: 6px;
      text-align: center;
      font-size: 8px;
      margin: 4px 2px;
      
    }
    
    
    .button {border-radius: 40%;}
  
  li{
      font-size: 20px;
  }